a:hover {
	color: #f8a644;
}

.button {
	color: #312761;
	display: inline-block;
	margin: 0px 5px 10px 5px;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	width: 275px;
	height: 65px;
	padding: 0px;
	font-weight: normal;
}

.button h1 {
	font-size: 1.2em;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px
}

.button .details {
	display: none;
	float: right;
	position: absolute;
	top: 30px;
	left: 80px;
	width: 320px;
	height: 16px;
	text-align: left;
	padding: 10px;
	background-color: #ffffe1;
	/* border */
	border: 1px solid #d4d0c8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	/* shadow */
	-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5);
	z-index: 1;
}

.button:hover .icon {
	color: #9aa4c2;
}

.button:hover .details {
	display: inline-block;
	color: black;
}