.project_state {
	text-align: center;
	margin-bottom: 20px;
}

#midcolumn {
	width: 730px;
	padding: 0 10px 10px 10px;
}

main #rightcolumn {
	max-width: 220px;
}

.sidebutton {
	text-align: left;
}

.icon {
	padding: 0px 25px 0px 5px;
}

.bullet {
	padding: 0px 10px 0px 0px;
}

ul.nobullet {
	list-style-type: none;
}

.news dt i {
    margin-right: 10px;
}

.news dd {
	margin: 10px 0px 40px 7px;
	padding-left: 20px;
	border-left: 2px solid #f7941e;
}
