/* for incubation logo */
.project_state {
	text-align: center;
	margin-bottom: 20px;
}

/* content column boxing */
#midcolumn {
	width: 730px;
	padding: 0 10px 10px 10px;
}

/* content column header */
#midcolumn h3 {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 2px solid rgb(51, 51, 51);
}

main #rightcolumn {
	max-width: 220px;
}

.sidebutton {
	text-align: left;
}

.icon {
	padding: 0px 25px 0px 5px;
}

.bullet {
	padding: 0px 10px 0px 0px;
}

ul.nobullet {
	list-style-type: none;
}



/* news items formatting */
.news dt i {
	margin-right: 10px;
}

.news dd {
	margin: 10px 0px 40px 7px;
	padding-left: 20px;
	border-left: 2px solid #f7941e;
}

.date {
	float: right;
	font-style: italic;
	padding-top: 20px;
}

.date::before {
	content: "Posted: "
}


/* documentation site formatting */
dt {
	margin-top: 10px;
}

dd {
	padding-left: 20px;
}

/* update site formatting */
.p2site {
	color: rgb(68, 54, 133);
	font-weight: bold;
	cursor: pointer;
}

.p2site:hover {
	color: rgb(247, 148, 30);
}

table#compatibility {
	border: 1px solid grey;
}

#compatibility td {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
}

#compatibility th {
	border: 1px solid grey;
	padding: 8px;
}

#compatibility tr:nth-child(even) {
	background-color: #f2f2f2;
}

#compatibility tr:hover {
	background-color: #dddddd;
}

.green {
	color: green;
}

.red {
	color: red;
}